/**Bootstrap styles**/

.bg-primary {
    /* background-color: yellow!important; */
    background-color: rgb(250, 235, 97)!important;
}

.bg-dark {
    background-color: rgb(120, 120, 120);
}

.btn-primary {
    /* background-color: yellow!important; */
    background-color: rgb(250, 235, 97)!important;
    /* border-color: yellow!important; */
    border-color: rgb(250, 235, 97)!important;
}

.text-primary, .nav-link {
    color: rgb(250, 235, 97)!important;
}

.border-primary {
    border-color: rgb(250, 235, 97);
}

.text-secundary {
    color: rgb(52, 52, 52);
}

/* Navbar Mobile */
@media all and (max-width: 719px) {
    .collapse {
        background-color: #212522;
        width: 100vw;
        text-align: center;
    }
}