@import url(title.css);

/**Bootstrap styles**/

.bg-primary {
    background-color: yellow!important;
}

.btn-primary {
    background-color: yellow!important;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/**Project specific styles**/

#contact-btn-navbar {
    padding: 5px 10px;
    background-color: yellow;
    border-radius: 10%;
}

#referenz-carousel {
    min-height: 490px;
}
#footer-logo {
    max-width: 250px;
}