.img-header-carousel {
    height: 100vh;
}

@media all and (max-width: 719px){
    .title-logo {
        padding-top: 70px;
    }

    #title-carousel {
        display: none;
    }
}

@media all and (min-width: 720px) {

    .title-logo {
        display: none;
    }

    #title-carousel {
        display: block;
    }

    .title-carousel-inner {
        height: 100vh;
    }

    .title-slide-img {
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .slider-text {
        /* height: 100vh; */
        background-color: rgba(0, 0, 0, .2);
    }
    #slide-img-1 {
        background-image: url(http://p-schub.lima-city.de/metallwerk/img/title-images/antriebstechnik.JPG);
    }
    #slide-img-2 {
        background-image: url(http://p-schub.lima-city.de/metallwerk/img/title-images/IMG_0318.JPG);
    }
    #slide-img-3 {
        background-image: url(http://p-schub.lima-city.de/metallwerk/img/title-images/instandhaltung.JPG);
    }
    /* #slide-img-2 {
        background-image: url(http://p-schub.lima-city.de/metallwerk/img/title-images/metallwerk.png);
    } */
    #slide-img-4 {
        background-image: url(http://p-schub.lima-city.de/metallwerk/img/title-images/montagen.JPG);
    }
    #slide-img-5 {
        background-image: url(http://p-schub.lima-city.de/metallwerk/img/title-images/reparaturen.JPG);
    }
}